*{
    box-sizing: border-box;
}

body{ 
    font-family: 'Open sans';
    font-size: 14px;
}

form{
    width: 50%;
    margin: 100px 550px;
}
 
.multiple{
    display:inline-block;
    width: 30%;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 25px;
}

.multiple_under{
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-bottom: 25px;
    
}

input[type='text'], input[type='number'], input[type='password'], select[name='assunto']{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 310px;
    height: 31px;  
}

p{
    margin: 0px;
    font-weight: lighter;
    font-size: 10px;
    color: #999999;
}

a{
    display: inline-block;
    background-color: #9013FE;
    color: white;
    width: 120px;
    text-align: center;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    border-color:#3A006D;
    text-decoration: none;
}
.btn_under{
    width: 20%;
    text-align: center;
}
a.multiple{
    background-color: orange;
}

.cx-btn{
    margin-left: 115px;
}

input[type='checkbox']{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #cacece;
    padding: 10px;
    border-radius: 3px; 
}
label[for='choice']{
    margin-left: 15px;
    vertical-align: top;
}
input[type='radio']{
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #cacece;
    padding: 10px;
    border-radius: 50px;
}

input[type='number']{
    width: 70px;  
    padding: 5px;  
}

textarea{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 310px;
}